<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hola MYQ
            </h1>
            <p class="subtitle">
                Registro de Formulario
            </p>
            <p>Los datos registrados son:</p>
            <p>Nombre: {{Nombre}}</p>
            <p>Correo {{Correo}}</p>
            <p>Mensaje: {{Mensaje}}</p>
            <div class="buttons">
                <a href="{{ url_for('formulario') }}" class="button is-primary is-dark">Regresar</a>
            </div>
        </div>
    </section>
</body>
</html>